@font-face {
  font-family: 'mononoki';
  font-style: normal;
  font-weight: 400;
  src: local('mononoki'), url('mononoki-Regular.ttf'), url('fonts/mononoki-Regular.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  background: black;
  height: 100%;
  width: 100%;
  max-width: 1272px;
  max-height: 720px;
}
